# Playwright
playwright-ts/node_modules/
playwright-ts/playwright-report/
playwright-ts/test-results/
playwright-ts/.playwright/
playwright-ts/allure-results/

# Selenium / Maven
selenium-java/target/
selenium-java/.mvn/

# Pytest
pytest-selenium/venv/
pytest-selenium/__pycache__/
pytest-selenium/**/__pycache__/
pytest-selenium/.pytest_cache/
pytest-selenium/reports/

# IDE
.idea/
*.iml
.vscode/
.DS_Store
